************************hello from web server******************************

Hello from Osama, ahmed, omar ruby, tabana, omar elsherif  
Current PC Name  >>>>> {{ ansible_facts.fqdn  }}
Current RAM size >>>>> {{ ansible_facts.memtotal_mb }}  MB
Current CPU size >>>>> {{ ansible_facts.processor_count  }}  vcpus

***************************************************************************
